# Puerto del backend
PORT=3001

# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/tiendas_multitenant?schema=public"

# JWT
JWT_SECRET="tu-secreto-super-seguro-cambia-esto-en-produccion"
JWT_EXPIRATION="7d"

# Entorno
NODE_ENV=development

# URL del frontend
FRONTEND_URL=http://localhost:3000

# WhatsApp
WHATSAPP_DEFAULT_COUNTRY_CODE=51
